*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: PT Sans Narrow;
    src: url('../fonts/ptsansnarrow.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: OpenSansLight;
    src: url('../fonts/opensanslight.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: OpenSans;
    src: url('../fonts/opensans.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: OpenSansIE;
    src: url('../fonts/opensans-ie.eot');
}
@font-face {
    font-family: OpenSansLightIE;
    src: url('../fonts/opensanslight-ie.eot');
}
.body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inner{
    padding: 22px 30px;
    background-color: #f0f2f5;
    width: 940px;
    margin: 0 auto;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
}
.nav__ul{
    font-family: OpenSansLight, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12pt;
    color: white;
    background-color: #ed5565;
    border-radius: 3.5px;
    height: 60px;
    border-bottom: 3px solid #da4453;
}
.menu{
    border-radius: 0 0 0 5px;
    cursor: pointer;
    height: inherit;
}
.menu__img{
    width: 70px; height: 63px;
    background: url('../img/css_sprites.png') -10px -10px;
}
.nav__li{
    display: block;
}
.nav__hr{
    height: 62px;
    border: 0;
    width: 1px;
    background-color: #da4453;
    position: absolute;
    top: 22px;
}
.nav__hr_last{
    left: 920px;
}
.nav__a{
    text-decoration: none;
    color: white;
    padding: 19px 25px 20px 25px;
}
.nav__a:hover{
    background-color: #da4453;
    text-decoration: none;
    color: white;
}

.menu:hover{
    background-color: #da4453;
    border-radius: 5px 0 0 5px;
}
.menu-hid{
    font-size: 10.5pt;
    display: none;
    position: absolute;
    top: 85px;
    background-color: #434a54;
    border-radius: 5px;
    border-bottom: 9px solid #434a54;
    border-top: 9px solid #434a54;
}
.menu-hid__a{
    padding: 12px 55px 12px 18px;
    display: block;
    text-decoration: none;
    color: white;
}
.menu-hid__li:hover{
    background-color: #393f48;
}
.menu:hover .menu-hid{
    display: block;
    
    z-index: 1000;
}

.nav__srch{
    padding: 14px 10px 14px 58px;
    border-radius: 5px 0px;
    font-family: OpenSans, OpenSansIE;
    width: 231px;
}
.form-srch__inp{
    border: none;
    border-radius: 5px 0px 0px 5px;
    width: 252px;
    height: 34px;
    padding-left: 23px;
    color: #b5b5b6;
}
.form-srch__but{ 
    border: none;
    border-radius: 0px 5px 5px 0px;
    height: 34px;
    width: 37px;
    background: #ffffff url('../img/css_sprites.png') -190px -70px;
    cursor: pointer;
}

.news-login{
    align-items: flex-start;
    margin-top: 30px;
}
.news{
    width: 310px;
}
.news__h2{
    border-radius: 5px 5px 0px 0px;
    background-color: #f6f8fa;
    padding: 17.5px;
    font-size: 16pt;
    font-family: PT Sans Narrow;
    color: #ed5565;
}
.img-w-news{
    border-bottom: 3px solid #e3e4e8;
    border-radius: 0px 0px 5px 5px;
    background-color: #ffffff;
    padding: 0 20px;
}
.img-w-news__li{
    border-bottom: 1px solid #e3e4e8;
    padding: 20px 0px;
    display: block;
}
.img-w-news__li_wo-border{
    border: none;
}
.img-w-news__a{
    text-decoration: none;
}
.img-w-news__a:hover{
    background-color: #f0f2f5;
    border-radius: 5px;
}
.img-w-news__block-image{
    display: inline-block;
    border: 2px solid #e3e4e8;
    border-radius: 5px;
    height: 75px;
}
.img-w-news__image{
 
    border-radius: 5px;
    width: 70px; height: 75px;
    background:#f0f2f5 url('../img/css_sprites.png') -100px -10px;
}
.img-w-news__text{
    padding-left: 19px;
    width: 200px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-self: baseline;
    line-height: 17px;
    margin-top: -4px;
}
.img-w-news__text-h1{
    font-family: OpenSans, OpenSansIE;
    color: #ed5565;
    font-size: 11pt;
    font-weight: 500;
}
.img-w-news__text-info{
    display: block;
    font-size: 9pt;
    font-weight: 500;
    color: #b5b5b6;
    font-family: Arial;
    padding-right: 20px;
}
.img-w-news__hr{
    margin: 10px 0 10px 0;
    background-color: #e3e4e8;
    height: 1px;
    width: 100%;
    border: none;
}
.login{
    border-bottom: 3px solid #e3e4e8;
    height: auto;
    margin-left: 30px;
    background-color: #ffffff;
    width: 600px;
    border-radius: 5px;
    align-items: flex-start;
}
.login-default{
    width: 320px;
    padding: 35px 17px;
}
.login-social{
    padding: 35px 17px;
    width: 280px;
}
.login__hr{
    height: 380px;
    width:1px;
    background-color: #e3e4e8;
    border: none;
    align-self: center;
}
.login__h2{
    font-size: 17pt;
    font-family: PT Sans Narrow;
    color: #ed5565;
}
.login__text-d{
    padding: 10px 0px;
    font-size: 9.1pt;
    font-family: Arial;
    color: #b5b5b6;
    line-height: 17px;
    width: 284px;
}
.login__text-s{
    padding: 10px 0px;
    font-size: 9.1pt;
    font-family: Arial;
    color: #b5b5b6;
    line-height: 17px;
    width: 247px;
}
.login-form{
    width: 100%;
}
.login-form__login-pas{
    font-family: OpenSansLight, OpenSansLightIE;
    font-size: 10pt;
    color: #768082;
    margin-top: 12px;
}
.login-form__input{
    margin-top: 8px;
    border: 2px solid #e3e4e8;
    border-radius: 5px;
    padding: 12px;
    width: 252px;
    font-family: OpenSansLight, OpenSansLightIE;
}
.login-default__check{
    visibility:hidden;
}
.login-default__check + .login-form__check-img{
    display: block; 
    position: relative;
    top:-4px;
    width: 20px; height: 20px;
    background: url('../img/css_sprites.png') -10px -158px;
    cursor: pointer;
}
.login-default__check:checked + .login-form__check-img{
    background: url('../img/css_sprites.png') -50px -158px;
}
.login-default__check-text{
    padding-left: 28px;
    padding-top: 1px;
    font-size: 9pt;
    color: #b5b5b6;
    font-family: OpenSans, OpenSansIE;
    width: 100px;
    display: block;
}
.login-form__entry{
    border: none;
    border-radius: 5px;
    background-color: #ed5565;
    padding: 12px 46px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-family: Arial;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 6px;
}
.login-form__entry:hover{
    background-color: #da4453;
}
.login-social-bl-but{
    margin: 0 auto;
    margin-top: 36px; 
}
.login-social-bl-but__button{
    font-family: Arial;
    font-size: 9pt;
    width: 199px;
    border: none;
    border-radius: 5px;
    padding: 16px 0px 16px 20px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin-bottom: 9px;
    text-align: inherit;
}
.login-social-bl-but__button_facebook:hover{
    background-color: #5B84C2;
}
.login-social-bl-but__button_twitter:hover{
    background-color: #3AAEDA;
}
.login-social-bl-but__button_google:hover{
    background-color: #DC4857;
}
.login-social-bl-but__button_facebook{
    background: #5d9cec url(../img/fb.png) no-repeat;
    background-position-x: 153px;
}
.login-social-bl-but__button_twitter{
    background: #4fc0e8 url(../img/tw.png) no-repeat;
    background-position-x: 153px;
}

.login-social-bl-but__button_google{
    background: #ee5567 url(../img/gl.png) no-repeat;
    background-position-x: 153px;
}
.some-sec{
    margin-top: 30px;
    border: 2px solid #e3e4e8;
    border-radius: 5px;
    background-color: #f6f8fa;
}
.some-div{
    padding: 14px 17px;
}
.some-sec__close{
    z-index: 1;
    float: right;
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    top: 10px;
    right: 5px;
    cursor: pointer;
}
.some-sec__close-button{
    z-index: 100;
    width: 24px;
    height: 24px;
    display: block;
    background: url('../img/css_sprites.png') -140px -93px;
    cursor: pointer;
    border: none;
}
.show-nothing{
    display: none;
}
.some-div__h3{
    font-size: 16.5pt;
    font-family: PT Sans Narrow;
    color: #ed5565;
}
.some-div__text{
    width: 850px;
    font-family: OpenSans, OpenSansIE;
    padding-top: 10px;
    font-size: 10.5pt;
    color: #b5b5b6;
    line-height: 23px;
}
.some-div__red-text{
    color: #ed5565;
}
.some-form{
    padding-top: 16px;
    padding-bottom: 12px;
    font-family: Arial;
    
}
.some-form__button{
    border: none;
    width: 138px;
    border-radius: 5px;
    padding: 12px 21px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-weight: bold;
}
.some-form__button_agree{
    border-bottom: 3px solid #e9573f;
    background-color: #fc6e51;
}
.some-form__button_cancel{
    border-bottom: 3px solid #83898f;
    background-color: #a4a9ae;
    margin-left: 10px;
}
.some-form__button_agree:hover{
    border-bottom: 3px solid #e9573f;
    background-color: #e9573f;
}
.some-form__button_cancel:hover{
    border-bottom: 3px solid #83898f;
    background-color: #83898f;
    margin-left: 10px;
}
.footer{
    margin-top: 30px;
    color: #ffffff;
}
.about{
    height: 203px;
    background-color: #393f48;
    padding: 24px;
    padding-bottom: 13px;
}
.about__h3{
    font-family: OpenSans, OpenSansIE;
    font-size: 15pt;
    font-weight: 300;
}
.about__text{
    font-family: Arial;
    padding-top: 28px;
    font-size: 9pt;
    font-weight: 500;
    color: #b5b5b6;
    width: 170px;
    line-height: 21px;
}
.puncts{
    height: 169px;
    background-color: #434a54;
    padding: 35px 128px 36px 0px;
}
.puncts__ul{
     padding: 0px 16px 0px 38px;
}
.puncts__li-grey{
    font-family: OpenSans, OpenSansIE;
    color: #929ba7;
    font-size: 11pt;
    padding-bottom: 20px;
    padding-top: 10px;
    display: inline;
}
.puncts__li-white{
    font-family: OpenSans, OpenSansIE;
    padding-bottom: 6px;
    color: #ffffff;
    font-size: 9.5pt;
    display: inline;
}
.puncts__a-grey{
    color: #929ba7;
    text-decoration: none;
}
.puncts__a-white{
    color: #ffffff;
    text-decoration: none;
}
.puncts__a-grey:hover{
    text-decoration: underline;
}
.puncts__a-white:hover{
    text-decoration: underline;
}
.alert{
    display: none;
    opacity: 0;
    position: absolute;
    background: #f0f2f5;
    border: 2px solid #da4453;
    border-radius: 20px;
    color: #ED5565;
    padding: 36px;
    width: 300px;
    justify-content: center;
}
.alert__wait{
    text-align: center;
}
.aw{
    padding: 0;
    justify-content: center;
}
.entry-w-social{
    display: none;
    opacity: 0;
    position: absolute;
    background: #f0f2f5;
    border: 2px solid #da4453;
    border-radius: 20px;
    color: #ED5565;
    padding: 36px;
    width: 300px;
    justify-content: center;
    align-self: center;
}
.entry-w-social__h2{
    align-self: center;
}
.login-form_pad-left{
    padding-left: 12px;
}
.entry-w-social__close{
    z-index: 1;
    float: right;
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    top: -21px;
    left: 297px;
    cursor: pointer;
}
.entry-w-social__close-button{
    z-index: 100;
    width: 24px;
    height: 24px;
    display: block;
    background: url('../img/css_sprites.png') -140px -93px;
    cursor: pointer;
    border: none;
}
.cancel-agree{
    display: none;
    opacity: 0;
    position: absolute;
    background: #f0f2f5;
    border: 2px solid #da4453;
    border-radius: 20px;
    color: #ED5565;
    padding: 36px;
    width: 300px;
    justify-content: center;
    align-self: center;
}